
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

nav {
  background-color: rgba(0, 0, 0, 0.199);
  color: white;
  position: sticky;
  top: 0;
  padding: 1rem;
}
.video {
  height: 50vh;
  background: black;
  position: relative;
}
video {
  width: 100%;
  height: 100%;
  /* for covering the whole space by video */
  object-fit: cover;
}
.video > div {
  position: absolute;
  top: 10vh;
  left: 10vw;
  color: white;
  width: 450px;
  background: rgba(69, 66, 66, 0.267);
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px green;
  backdrop-filter: blur(20px);
}

.container {
  width: 80%;
  margin: auto;
}
.top-menu {
  display: flex;
  justify-content: space-between;
}
.top-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  
}
.top-menu ul li {
  margin-left: 1rem;
  transition: color 0.5s;
 
}
.top-menu ul li:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.3);
}
.logo {
  padding: 10px;
  background: linear-gradient(green, yellow);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1,
.img2,
.img3 {
  height: 80vh;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  background: url(assets/img1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.img2 {
  background: url(assets/img2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.img3 {
  background: url(https://www.shutterstock.com/image-photo/coronavirus-control-team-professional-virologists-600w-1697944825.jpg)
    no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.title {
  background: rgba(0, 0, 0, 0.466);
  color: white;
  padding: 1rem 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.go {
  position: absolute;
  bottom: 50px;
  left: 50%;
  font-size: 3rem;
  font-weight: bolder;
  color: red;
  /* animation: arrowdown 2s infinite; */
  transform: rotate(90deg);


  animation: down 2s ease-out infinite;
}
@keyframes down {
  0%{
    left: 50%;
    bottom:50px ;
  }
  100%{
    bottom: 20px;


  }
}
.go-up{
  margin: 3px;
  padding: 10px;
  color: white;
 
}
